:root
{
    /* For Later JS */
    --Website-background: #000000;
    --Header-background: #1a0000;
    --HeaderSubDivs-background: #5f0101;
    --TopControls-background: #4d4d4d;
    /* Black Theme Colors */
    --Website-background-black: #131313;
    --Header-background-black: #474747;
    --HeaderSubDivs-background-black: #818181;
    --TopControls-background-black: #4d4d4d;
    /* White theme Colors */
    --Website-background-white: #ffffff;
    --Header-background-white: #bbbbbb;
    --HeaderSubDivs-background-white: #7c7c7c;
    --TopControls-background-white: #adadad;

    /* Color theme Colors */
    --Website-background-color: #130044;
    --Header-background-color: #0099ff;
    --HeaderSubDivs-background-color: #00d9ff;
    --TopControls-background-color: #71009e;
    /* Contrast theme Colors */
    --Website-background-contrast: #000000;
    --Header-background-contrast: #bbbbbb;
    --HeaderSubDivs-background-contrast: #ffffff;
    --TopControls-background-contrast: #dddddd;

}
body{
    display: flex;
    flex-direction: column;
    background: var(--Website-background);
    align-items: center;
    font-family: "Work Sans", sans-serif;
}
#Pane{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: var(--Header-background);
    border-radius: 1vw;
    width: 85vw;
}
#mainPane
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 90%;
    justify-content: center;

}
/* Header */
header
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--HeaderSubDivs-background);
    box-shadow: 0 0px 100px rgb(0, 0, 0), 0 0px 100px 0 rgba(87, 0, 0, 0.384);
    border-radius: 15em;
    margin: 3vh  1vw;
    padding: 1%;
    justify-content: center;
}
header > img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: black 0.1em solid;
    border-radius: 50%;
    max-width: 100%;
    height: 20vw;
    filter: blur(5%);
    animation: hue-rot 1s linear infinite;
    width: 20vw;
    margin: 1%;
}
h1{
    display: flex;
    flex-wrap: wrap;
    color: var(--Website-background);
    font-size: 10vw;
    animation: glow 1s ease-in-out infinite alternate;
    width: 100%;
    margin: 10% 0%;
    white-space: nowrap;
    justify-content: center;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60000, 0 0 40px #e60000, 0 0 50px #e60073, 0 0 60px #e60000, 0 0 70px #e60000;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4d4d, 0 0 50px #ff4da6, 0 0 60px #ff4d4d, 0 0 70px #ff4d4d, 0 0 80px #ff4d4d;
    }
  }

/* Date and Time */
.cat
{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 1vh  0;

}
#clock
{
    display: flex;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    margin: 1vh 0.5vw;
    border-radius: 2vw;

    background-color: var(--HeaderSubDivs-background);
    color: var(--Website-background);
/*    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);*/
}
  .hms {
      font-size: 15vw;
      font-weight: 700;
  }
  .ampm {
      font-size: 15vw;
      font-weight: 600;
  }
  .weekDay
  {
        display: flex;
        order: 3;
        flex-wrap: nowrap;
        flex-grow: 2;
        align-items: center;
        justify-content: center;
        margin: 1vh 0.5vw;

  }
  .weekDay > div
  {
        display: flex;
        flex-grow: 1;
        background: var(--HeaderSubDivs-background);
        align-items: center;
        justify-content: space-evenly;
        margin: 0 0.2vw;
        padding: 0vh 1vw;
        height: 90%;
        width: 8%;
        font-size: 3vw;
        color: var(--Website-background);
        border-radius: 1vw;
  }
/* External Block  */
  .date {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 3;
    justify-content: center;
    align-items: center;
    margin: 1vh 0.2vw;
    background-color: var(--HeaderSubDivs-background);
    color: var(--Website-background);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2vw;
    font-size: 4vw;
    font-weight: 1000;
}
/* Controls Menu */
#controlMenu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: 1vw 1vw 0 0;
    background-color: var(--HeaderSubDivs-background) ;
}
.themeButton
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 1.3vw;
    margin: 0.5vh 0.7vw;
    border-radius: 0.3vw;
    width: 2vw;
    height: 2vw;
}
.themeButton > span
{
    border-radius: 0.2vw;
    width: 2vw;
    height: 2vw;
}
#themeButtons
{
    display: flex;
    justify-content: flex-start;
    margin: 1vh 1vw;
    flex-grow: 1;
}
#themeBlack
{
    background-color: var(--Website-background-black);
}
#themeBlack > .insideA
{
    background-color: var(--Header-background-black);
}
#themeWhite
{
    background-color: var(--Website-background-white);
}
#themeWhite > .insideA
{
    background-color: var(--Header-background-white);
}
#themeColor
{
    background-image: url(../source/ColorBackground.webp);
}
#themeColor > .insideA
{
    background-color: var(--Header-background-color);
}
#themeContrast
{
    background-color: var(--Website-background-contrast);
}
#themeContrast> .insideA
{
    background-color: var(--Header-background-contrast);
}
/* Clock Controls */
#clockButtons
{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 2;
    margin: 0vh 1vw;
}
.clockButton
{
    display: flex;
    justify-content: space-evenly;
    margin: 0vh 0.5vw;
    border-radius: 0.3vw;
    background-color: var(--Website-background);
    flex-grow: 1;
    cursor: pointer;
}
.clockButton > span
{
    color: var(--HeaderSubDivs-background);
    font-size: 2vw;
    user-select: none;
}
