body{
    display: flex;
    background-color: #211f26;
    justify-content: center;
}
header{
    display: flex;
    background-color: #a5acb8;
    border-radius: 1rem;
    margin-top: 0.5%;
    padding-bottom: 10vh;
    width: 99%;
    height: 20%;
    text-align: center;
    justify-content: start;
}
h1{
    height: fit-content;
}
#h1div
{
    background-color: #bec5d1;
    border-radius: 1rem;
    margin-left: 1vw;
    margin-top: 1vh;
    width: 50vw;
    height: 5vh;

}